<header class="header">
    <div class="container header__container">
            <!-- Logo -->
        <a href="" class="logo">
            <img class="Logo__image" src="./images/logo.png" alt="company's_logo" width="79" height="79"/>
        </a> 
            <!-- Site nav -->
            <nav>
                <ul class="list site-nav">
                    <li class="site-nav__item">
                        <a class="link site-nav__link site-nav__current" href="">Home</a></li>

                    <li class="site-nav__item">
                        <a class="link site-nav__link" href="">Product</a></li>

                    <li class="site-nav__item">
                        <a class="link site-nav__link" href="">Pricing</a></li>

                    <li class="site-nav__item">
                        <a class="link site-nav__link" href="">Testimonials</a></li>

                    <li class="site-nav__item">
                        <a class="link site-nav__link" href="">Contact Us</a></li>
                </ul>
            </nav>
            <!-- Button -->
            <button class="button" type="button">Buy Now</button>

            </div>
</header>