<section class="section hero__section">
  <div class="hero">
    <div class="hero__banner">
      <h2 class="hero__pretitle">Sweet fun, full of milk.</h2>
      <h1 class="hero__title">
        Feel inside cold with our delicious
        <span class="pink">ice-cream.</span>
      </h1>
      <p class="hero__text">
        Some food has looked so awful that it's looked like something that
        <br />
        the dog's brought home, yet after one mouthful I've been left <br />
        eating my thoughts, my words.
      </p>
      <button class="button" type="button">Buy Now</button>
    </div>
  </div>
</section>