<section class="section order">
  <div class="container order__container">
    <img
      class="order__img"
      src="./images/order-img-svg/screen.jpg"
      alt="screen of the app"
      width="305"
      height="627"
    />

    <h2 class="order__title">Simple Way To Order Your Food</h2>
    <p class="order__desc">
      Some food has looked so awful that it's looked like something that the dog's brought home, yet
      after one mouthful I've been left eating my thoughts.
    </p>
    <ul class="options">
      <li class="options__item">
        <div class="options__wrap">
          <svg class="options__icon" width="11" height="16.5">
            <use href="./images/order-img-svg/icons-order.svg#icon-1"></use>
          </svg>
        </div>

        <p class="options__text">Select Your Food</p>
      </li>
      <li class="options__item">
        <div class="options__wrap">
          <svg class="options__icon" width="14" height="14">
            <use href="./images/order-img-svg/icons-order.svg#icon-2"></use>
          </svg>
        </div>

        <p class="options__text">Add To Cart</p>
      </li>
      <li class="options__item">
        <div class="options__wrap">
          <svg class="options__icon" width="16" height="12.4">
            <use href="./images/order-img-svg/icons-order.svg#icon-3"></use>
          </svg>
        </div>

        <p class="options__text">Order Your Food</p>
      </li>
    </ul>
    <ul class="download">
      <li class="download__item">
        <button class="download__button" type="button"></button>
      </li>
      <li class="download__item">
        <button class="download__button" type="button"></button>
      </li>
    </ul>
  </div>
</section>
