<section>
    <div class="product-wrap">
        <h2 class="product-title">
            Our Product
        </h2>
        <div class="product-filter">
            <ul class="product-list">
                <li class="product-item">
                    <a href="" class="product-filter__link">ice cream</a>
                </li>
                <li class="product-item">
                    <a href="" class="product-filter__link">cayenne chocolate</a>
                </li>
                <li class="product-item">
                    <a href="" class="product-filter__link">cake batter</a>
                </li>
                <li class="product-item">
                    <a href="" class="product-filter__link">candy cane</a>
                </li>
                <li class="product-item">
                    <a href="" class="product-filter__link">platters</a>
                </li>
                <li class="product-item">
                    <a href="" class="product-filter__link">dessert</a>
                </li>
            </ul>
        </div>
        <div class="product-description">
            <img src="../images/our-product-img/Rectangle74.jpg" class="product-description__img" width="580"
                height="415" alt="foto of ice cream ">
            <div>
                <h3 class="product-description__title">Brown bread</h3>
                <p>Bon Au Pain is a pioneer in the healthy fast food scene.Bon Au Pain is a pioneer in the healthy fast
                    food scene.Bon Au
                    Pain is a pioneer in the healthy fast food scene.</p>
                <p class="product-description__discount">$19,55 <span class="product-description__price">$22,55</span>
                </p>
                <button class="button" type="button">Buy Now</button>
            </div>
        </div>
        <div class="product-description">
            <img src="../images/our-product-img/Rectangle78.jpg" class="product-description__img" width="580"
                height="415" alt="foto of ice cream ">
            <div>
                <h3 class="product-description__title">Brown bread</h3>
                <p>Bon Au Pain is a pioneer in the healthy fast food scene.Bon Au Pain is a pioneer in the healthy fast
                    food scene.Bon Au
                    Pain is a pioneer in the healthy fast food scene.</p>
                <button class="button" type="button">Buy Now</button>
            </div>
        </div>
        <div class="product-description">
            <img src="../images/our-product-img/Rectangle79.jpg" class="product-description__img" width="580"
                height="415" alt="foto of ice cream ">
            <div>
                <h3 class="product-description__title">Brown bread</h3>
                <p>Bon Au Pain is a pioneer in the healthy fast food scene.Bon Au Pain is a pioneer in the healthy fast
                    food
                    scene.Bon Au
                    Pain is a pioneer in the healthy fast food scene.</p>
                <button class="button" type="button">Buy Now</button>
            </div>
        </div>
    </div>
</section>