<section class="section question">
    <div class="question__container">
        <div class="wrapper">
            <h2 class="question__title">Have Question in Mind? <br>
                Let us help you</h2>
            
            <form class="question__form">
                <input
                    type="text"
                    class="question__input"
                    name="question"
                    id="question"
                    placeholder="Enter your question"/>
                    <button class="button question__button" type="submit">Send</button>
            </form>
        </div>    
    </div>
</section>        