.hero__section {
  background-color:rgba(242, 206, 218, 0.3) ;
 
}

 .hero{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;  
  background-image: url("../images/hero-img/milk.png"), 
                   url("../images/hero-img/ice-cream.png"),
                  url("../images/hero-img/ellipse.png"),
                  url("../images/hero-img/ellipse2.png");

background-position: top 150px right -180px, top 20px right -60px, top 330px right 60px, top 680px right 130px;
background-repeat: no-repeat;
}

.hero__banner {
  padding: 196px 0 213px 0;
  max-width: 665px;

}
.hero__pretitle {
  color:#0f0101;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.1em;
  margin-bottom: 6px;
}
.hero__title {
  font-family: "fredoka one", cursive;
  font-weight: 500;
  font-size: 57px;
  line-height: 1.21;
  letter-spacing: 0.01em;
  color: rgba(15, 1, 1, 0.9);

  margin-bottom: 35px;
}
.pink{
  color:var( --accent-color-with-overlay);

  
}
.hero__text {
  font-family: "Hind Madurai", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: rgba(15, 1, 1, 0.6);

  margin-bottom: 50px;
}