.product-wrap {
  width: 1200px;
}
.product-title {
  display: block;
  font-family: Hind Madurai;
  font-style: normal;
  font-weight: 600;
  font-size: 44.2px;
  line-height: 1.38;
  color: #150101;
  margin-right: auto;
  margin-left: auto;
}
// .product-filter {
// }
.product-list {
  display: flex;
}
// .product-item {
// }
.product-filter__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
// .product-description {
// }
// .product-description__img {
// }
// .product-description__title {
// }
// .button {
// }
